@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    display: none;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
.carousel-item img {
    height: 40vh;
}
/* star color */
.rs .fas{
    color: #ffca28;
}
/* mrp colors */
.d-mrp{
    color: orangered;
    font-weight: 700;
}
.o-mrp{
    color: grey;
    text-decoration: line-through;
    margin-left: 10px;
}
.card-img-top{

    height: 40vh;
    width: 60%;
}
.rs{
    margin-top: 20px;
}
/* sidenav */
.box{
    background-color: rgba(248, 247, 253, 0.726);
    border-radius: 6px;
    box-shadow: 0 11px 20px -15px rgba(0, 0, 0, 0.3);
    padding: 40px; 
}
.sort-box{
    background-color: rgba(248, 247, 253, 0.726);
    border-radius: 6px;
    box-shadow: 0 11px 20px -15px rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
    margin-top: 20px;
    padding-left: 10px;
}
.box-cover{
    background-color: rgba(248, 247, 253, 0.726);
    border-radius: 6px;
    box-shadow: 0 11px 20px -15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.box-b {
    background-color: rgba(248, 247, 253, 0.726);
    border-radius: 6px;
    box-shadow: 0 11px 20px -15px rgba(0, 0, 0, 0.3);
    padding: 40px;
    margin-top: 25px;
}
.btn{
    margin-top: 25px;
    background-color: rgba(248, 247, 253, 0.726);
    box-shadow: 0 11px 20px -15px grey;
    margin-bottom: 20px;
}
/* color picker */
.color {
    margin-top: 25px;
    background-color: rgba(248, 247, 253, 0.726);
    border-radius: 6px;
    padding: 40px;
    box-shadow: 0 11px 20px -15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.color ul li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.color ul li:hover {
    transform: scale(1.3);
}

#red {
    background-color: #ef5350;
}

#green {
    background-color: #66bb6a;
}

#amber {
    background-color: #ffca28;
}

#blue {
    background-color: #42a5f5;
}

#gray {
    background-color: #bdbdbd;
}
/* Color selecter styles */

body.red {
    background-color: #ef5350;
    color: #ef5350;
}

body.green {
    background-color: #66bb6a;
    color: #66bb6a;
}

body.amber {
    background-color: #ffca28;
    color: #ffca28;
}

body.blue {
    background-color: #42a5f5;
    color: #42a5f5;
}

body.gray {
    background-color: #bdbdbd;
    color: #bdbdbd;
}
  /* Footer */
  .footer-icons {
    padding: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.beep {
  
    padding: 0% 10%;
    text-align: justify;
}

.beep img {
   margin-top: 20px;
    margin-bottom: 15px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.69;
}

.follow {
   
    padding: 6% 20% 0% 8%;
    text-align: justify;
}

.follow h4 {
    margin-bottom: 20px;
}

.contact {
   
    padding: 6% 20% 0% 8%;
}

.contact h4 {
    margin-bottom: 20px;
}


.card{
    border-radius: 10px;
}
.card img {
    transition: 0.5s all ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.text-dark{
    color: black;
}
.bg-white{
    background-color: whitesmoke;
}
